body {
  background-color: #5752B4;
}
h1 {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
}


p {
  color: white;
  font-family: "Arial", sans-serif;
}
