body {
  background-color: #5752B4;
}
h1 {
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
p {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
